* {
  margin: 0;
  padding: 0;
}
.separator {
  margin: 2% 0;
}
.block {
  background-color: green;
  height: 50px;
  width: 150px;
}
.btn {
  width: 150px;
  height: 20px;
}
.description {
  margin: 1%;
  font-size: 1.2em;
}
.example {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
