html,
body {
  font-family: "Arial";
  color: #333333;
}
.container {
  max-width: 1280px;
  min-width: 1280px;
  margin: 0 auto;
}
button,
input,
textarea {
  outline: none;
}
button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 3px 3px 10px black;
          box-shadow: 3px 3px 10px black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover:active {
  color: #fff;
  background-color: #445161;
}
h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}
section {
  padding: 50px;
}
.main_header {
  background-color: #445161;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  min-height: 323px;
  color: #ffffff;
}
.main_header div h1 {
  margin: 50px 0 0 50px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 60px;
  font-weight: 400;
}
.main_header div ul {
  list-style-image: url("../img/check_icon.png");
  margin-left: 47px;
}
.main_header div ul li {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
}
.main_header img {
  margin-top: 50px;
  margin-right: 50px;
  width: 469px;
  height: 214px;
  justify-self: flex-end;
}
.section_about-product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 531px;
      grid-template-columns: auto 531px;
}
.section_about-product div p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
img {
  justify-self: flex-end;
}
.section_dignity {
  min-height: 418px;
  background-color: #f5f5f5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}
.section_dignity .section_dignity_h3 {
  justify-self: center;
  grid-column: 1 / 3;
}
.section_dignity .section_dignity_link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px 1fr;
      grid-template-columns: 32px 1fr;
}
.section_dignity .section_dignity_link a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../img/PLUS.png);
  background-position: center;
}
.section_dignity .section_dignity_link p {
  margin: 0 23px 0 9px;
}
.section_srinshots {
  min-height: 487px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 30px;
}
.section_srinshots h3 {
  grid-column: 1 / 3;
  justify-self: center;
}
.section_srinshots figure {
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
  grid-column-gap: 15px;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
.section_srinshots figure img {
  grid-row: 1 / 3;
}
.section_srinshots figure p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.section_reviews {
  background-color: #f5f5f5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75px 1fr 75px 1fr;
      grid-template-columns: 75px 1fr 75px 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
.section_reviews h3 {
  grid-column: 1 / 5;
  justify-self: center;
}
.section_reviews .section_reviews_foto {
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: url(../img/userpic.jpg);
}
.section_reviews .section_reviews_comment {
  position: relative;
  background-color: #ebebeb;
  border-radius: 1%;
}
.section_reviews .section_reviews_comment p {
  padding: 0 10px 0 10px;
  font-family: "Arial - Italic MT";
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
}
.section_reviews .section_reviews_comment span {
  padding-left: 15px;
  color: #989898;
  font-family: "Arial MT";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.section_reviews .section_reviews_comment:before {
  position: absolute;
  left: -13px;
  top: 20px;
  content: url("../img/strelochka.png");
}
.section_buy {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  grid-column-gap: 45px;
  margin: 0 90px 0 90px;
  min-height: 656px;
}
.section_buy .section_buy_h3 {
  grid-column: 1 / 4;
  text-align: center;
}
.section_buy div {
  background-color: #445161;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
}
.section_buy div h3 {
  font-weight: 400;
  line-height: 30px;
  font-size: 24px;
  height: 51px;
  line-height: 51px;
}
.section_buy div span {
  display: block;
  text-align: center;
  margin: 0;
  font-weight: 400;
  line-height: 30px;
  font-size: 40px;
  color: #445162;
  border: 2px solid #445162;
  background-color: #ffffff;
  height: 71px;
  line-height: 71px;
}
.section_buy div ol {
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
  text-align: initial;
}
.section_buy div button {
  color: #445162;
  height: 40px;
  width: 260px;
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border: none;
}
.section_contacts {
  background-color: #445161;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  grid-row-gap: 32px;
  grid-column-gap: 46px;
}
.section_contacts h3 {
  grid-column: 1 / 3;
  justify-self: center;
  color: #ffffff;
}
.section_contacts form {
  color: #445162;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px 40px 170px;
      grid-template-rows: 40px 40px 170px;
  grid-row-gap: 21px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 4px;
}
.section_contacts form input {
  width: 500px;
  border-radius: 4px;
  border: none;
}
.section_contacts form textarea {
  width: 500px;
  border-radius: 4px;
  border: none;
  padding: 10px 0 0 0;
}
.section_contacts form button {
  justify-self: center;
  height: 40px;
  width: 140px;
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border: none;
}
.section_contacts .section_contacts_social {
  color: #ffffff;
}
.section_contacts .section_contacts_social div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px 1fr;
      grid-template-columns: 32px 1fr;
  grid-row-gap: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}
.section_contacts .section_contacts_social span {
  display: inline-block;
  line-height: 15px;
}
.section_contacts .section_contacts_social a {
  display: inline-block;
  width: 26px;
  height: 26px;
}
.section_contacts .section_contacts_social .contact_social_icon1 {
  background: url(../img/skype_icon.png) no-repeat;
  background-position: center;
}
.section_contacts .section_contacts_social .contact_social_icon2 {
  background: url(../img/icq_icon.png) no-repeat;
  background-position: center;
}
.section_contacts .section_contacts_social .contact_social_icon3 {
  background: url(../img/email_icon.png) no-repeat;
  background-position: center;
}
.section_contacts .section_contacts_social .contact_social_icon4 {
  background: url(../img/phone_icon.png) no-repeat;
  background-position: center;
}
.section_contacts .section_contacts_social .contact_social_icon5 {
  background: url(../img/twitter_icon.png) no-repeat;
  background-position: center;
  width: 43px;
  height: 43px;
}
.section_contacts .section_contacts_social .contact_social_icon6 {
  background: url(../img/facebook_icon.png) no-repeat;
  background-position: center;
  width: 43px;
  height: 43px;
}
.section_contacts .section_contacts_social .contact_social_icon7 {
  background: url(../img/in_icon.png) no-repeat;
  background-position: center;
  width: 43px;
  height: 43px;
}
.section_contacts .section_contacts_social .contact_social_icon8 {
  background: url(../img/googleplus_icon.png) no-repeat;
  background-position: center;
  width: 43px;
  height: 43px;
}
.section_contacts .section_contacts_social .contact_social_icon9 {
  background: url(../img/You_tube_icon.png) no-repeat;
  background-position: center;
  width: 43px;
  height: 43px;
}
footer {
  text-align: center;
}
footer span {
  color: #445162;
  font-family: "Arial MT";
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
@media screen and (max-width: 1050px) {
  .main_header,
  .section_about-product {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-column-align: center;
        justify-items: center;
  }
  .main_header img,
  .section_about-product img {
    justify-self: center;
    margin: 25px 25px 25px 25px;
  }
  .section_buy {
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
    min-height: none;
    grid-row-gap: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section_buy .section_buy_h3 {
    grid-column: 1 / 2;
  }
}
@media screen and (max-width: 850px) {
  .container {
    min-width: 500px;
  }
  .main_header div h1 {
    margin: 50px auto 0 auto;
    padding-left: 3px;
  }
  .main_header div ul {
    margin: 50px auto 0 auto;
  }
  .main_header img {
    margin: 25px auto 25px auto;
  }
  .section_dignity,
  .section_srinshots,
  .section_contacts,
  .section_reviews {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .section_dignity h3,
  .section_srinshots h3,
  .section_contacts h3,
  .section_reviews h3 {
    grid-column: 1 / 2;
  }
  .section_contacts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-column-align: center;
        justify-items: center;
  }
  .section_contacts form input {
    width: 400px;
  }
  .section_contacts form textarea {
    width: 400px;
  }
  .section_dignity {
    grid-row-gap: 24px;
  }
  .section_dignity .section_dignity_h3 {
    grid-column: 1 / 2;
  }
  .section_reviews .section_reviews_comment:before {
    position: absolute;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: -20px;
    left: 30px;
  }
}
@media screen and (max-width: 550px) {
  section {
    padding: 50px 5px 50px 5px;
  }
}
